.navbtnBox h1 {
  text-align: center;
  font-size: 1.6rem;
  height: fit-content;
}

.navbtnBox {
  width: 100vw;
  text-align: center;
}

.navBtn {
  width: 33.3%;
  height: 3rem;
  background-color: wheat;
  font-size: 1.5rem;
  font-weight: bolder;
  color: darkred;
  border: 1px solid lightyellow;
}

.navBtn:hover {
  color: #222;
  background-color: lightgoldenrodyellow;
}

.navBtn:active {
  transform: scale(0.8);
  transition: all 0.2s linear;
}

@media screen and (max-width: 350px) {
  .navbtnBox h1 {
    font-size: 1.3rem;
  }

  .navbtnBox .navBtn {
    font-size: 1.2rem;
  }
}
