.searchBox {
  display: flex;
  flex-direction: column;
  height: 3rem;
}

.totalSearchInput {
  width: 70vw;
  height: 2.5rem;
}

.searchBoxLogoBtnBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
