.searchBox {
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow-y: scroll;
}

.totalSearchInput {
  width: 70vw;
  height: 2.5rem;
}

.searchBoxLogoBtnBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .searchBox .searchBoxLogoBtnBox {
    margin-top: 0.5rem;
  }
}
