.downloadBtnBox button {
  /* width: 40px;
    height: 40px; */
  background-color: transparent;
  border: none;
}

.downloadBtnBox img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.excelBtn {
  background-color: #1f7145;
}

.excelBtn:hover {
  transform: scale(1.05);
  transition: all 0.2s linear;
}

.excelBtn:active {
  transform: scale(0.8);
  transition: all 0.2s linear;
}

.wordBtn {
  background-color: #2a5696;
}

.wordBtn:hover {
  transform: scale(1.05);
  transition: all 0.2s linear;
}

.wordBtn:active {
  transform: scale(0.8);
  transition: all 0.2s linear;
}

.hangulBtn {
  background-color: #0198d3;
}

.hangulBtn:hover {
  transform: scale(1.05);
  transition: all 0.2s linear;
}

.hangulBtn:active {
  transform: scale(0.8);
  transition: all 0.2s linear;
}

.docsContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  margin: auto;
  margin-top: 1.5rem;
}

.docsContentTitle {
  background-color: lightsalmon;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 80%;
  border-radius: 5px;
  height: 2.5rem;
}

.downloadBtnBox {
  width: 40%;
  text-align: end;
}

@media screen and (max-width: 768px) {
  .docsContent {
    margin-top: 0.3rem;
  }

  .docsContent .docsContentTitle {
    padding: 0;
  }

  .docsContent .downloadBtnBox .excelBtn img {
    width: 23px;
    height: 23px;
  }

  .docsContent .downloadBtnBox .wordBtn img {
    width: 23px;
    height: 23px;
  }

  .docsContent .downloadBtnBox .hangulBtn img {
    width: 23px;
    height: 23px;
  }

  .docsContent .downloadBtnBox a .excelBtn {
    padding: 0;
    margin: 0 4px;
  }

  .docsContent .downloadBtnBox a .wordBtn {
    padding: 0;
    margin: 0 4px;
  }

  .docsContent .downloadBtnBox a .hangulBtn {
    padding: 0;
    margin: 0 4px;
  }

  .docsContent .docsContentTitle {
    font-size: 1rem;
  }

  .docsContent .docsContentTitle {
    height: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 350px) {
  .docsContent .docsContentTitle {
    width: 70%;
  }

  .docsContent .downloadBtnBox .excelBtn img {
    width: 20px;
    height: 20px;
  }

  .docsContent .downloadBtnBox .wordBtn img {
    width: 20px;
    height: 20px;
  }

  .docsContent .downloadBtnBox .hangulBtn img {
    width: 20px;
    height: 20px;
  }
}
